<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ээээ... Привет...</title>
</head>
<body>
<h1>Welcome to Spring, {{Привет}}</h1>
<h1>Пошел в жопу, {{Hello}}</h1>
</body>
</html>