<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Здравствуйте!</title>
</head>
<body>
{{#error}}
{{error}}
{{/error}}
{{#login}}
<p>Ваш логин: {{login}}</p>
<p><a href="/logout">Выйти</a></p>
{{/login}}
{{^login}}
<form action="/login" method="post" modelArrtibute="Credentials">
    <h2>Представьтесь, пожалуйста!</h2>
    <p>Логин: <input type="text" size="40" name="username"></p>
    <p>Пароль: <input type="password" size="40" name="password"></p>
    <button type="submit">Войти</button> <a href="/register">Зарегистрироваться</a>
</form>
{{/login}}
</body>
</html>