<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form action="/register" method="post" modelArrtibute="user">
    <h2>Представьтесь, пожалуйста!</h2>
    <input type="hidden" name="id" value=0>
    <p>Имя пользователя: <input type="text" size="40" name="username"></p>
    <p>Пароль: <input type="password" size="40" name="password"></p>
    <p>Имя: <input type="text" size="40" name="name"></p>
    <p>Дата рождения: <input type="date" size="40" name="birthdate"></p>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>